* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 28px;
}
.logo {
    width: 50px;
    height: auto;
}
.list-links {
    display: flex;
    list-style: none;
    gap: 22px;
}

.list-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    
}

/*/////////*/

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 52px 22px;
    background-color: #1F2937;
}
.hero-container img {
    width: 400px;
    height: auto;
    margin-left: 72px;
    border-radius: 6px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.628);
}
.main {
    font-size: 18px;
    color: #E5E7EB;
}
.main h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.main a {
    display: inline-block;
    padding: 10px 22px;
    margin-top: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    text-decoration: none;
}

/*////////*/

